{% extends 'design.html' %}

{% block head %}
<style>body{
    height:100vh
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
.sidebar div {
padding: 8px;

color:#828e96
}
.sidebar div a{
    padding: 8px;
    text-decoration: none;
    display: block;
    color:#828e96
    }
.hvr:hover{
    background-color: #263949;
    color:white;
    cursor: pointer;
}

.new{
    height:26px;
    width: 100px;
    background-color:#1f8772;
    color:white;
    border:none;
}</style>
    <title>Edit Course</title>
{% endblock %}

    {% block body %}
    <div class='ps-3 pt-3'style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;">Edit Course</div>
        <div style='font-size:20px;font-weight:600 ;padding-bottom:10px'>Course: {{course.course_id}} {{course.course_name}}</div>
    </div>
    <div style="margin-left:10%; height:1px;background-color:lightgray"></div>
    <div class="mt-4">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;" class="text-center">Edit</div>
        <form class="d-flex justify-content-center flex-column align-items-center" action='/courses/{{course.course_id}}/update' method="POST">
            <div>
                <div>
                    <input type="hidden" value="{{course.course_id}}" name="o_number">
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Course ID</span>
                        <input name='course_id' type="text" class="form-control" value='{{course.course_id}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Course Name</span>
                        <input name='course_name'type="text" class="form-control" value='{{course.course_name}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Description</span>
                        <input name='course_desc' type="text" class="form-control" value='{{course.course_desc}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        <input name='course_date' type="date" class="form-control" value='{{course.course_date}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Term</span>
                        <input name='course_term' type="text" class="form-control" value='{{course.course_term}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>  
            <div class="px-2 d-flex justify-content-center align-items-center">
                <button style='height:38px' type="submit" class="new rounded ">Save</button>
            </div>       
        </form>
        <div class='d-flex justify-content-center align-items-center'>

            <div class="px-2 pt-2 ">
                <a href="/courses"><button  onclick='off()' style='background-color:red' class="new rounded" >Close</button></a>
            </div> 
        
       
        </div>
    </div>
    {% endblock %}