{% extends 'design.html' %} 
{% block head %}
<style>body{
    height:100vh
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
.sidebar div {
padding: 8px;

color:#828e96
}
.sidebar div a{
    padding: 8px;
    text-decoration: none;
    display: block;
    color:#828e96
    }
.hvr:hover{
    background-color: #263949;
    color:white;
    cursor: pointer;
}

.new{
    height:26px;
    width: 100px;
    background-color:#1f8772;
    color:white;
    border:none;
}</style>
<script>
    function newform() {
        document.getElementById("newform").style.display = 'block';
  }
  function off() {
    document.getElementById("newform").style.display = 'none';
  }
  function details(){
    let value
    document.getElementById("newform").style.display = 'block';
  }
</script>
<script>
            function onlyOne(checkbox) {

                var close = document.getElementById('select')
                if ( checkbox.value == 'Researcher' ){
                  close.style.display = 'none';
                }
                else{
                  close.style.display = 'block';
                }
            }
                  </script>
<title>Course Details</title>
{% endblock %}
<body>
    {% block body %}
    <div class='ps-3 pt-3' style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;">Index</div>
        <div style='font-size:20px;font-weight:600 ;padding-bottom:10px'>Details</div>
    </div>
    <div style="margin-left:10%; height:1px;background-color:lightgray"></div>
    <div class='pt-2' style='margin-left:10%;height:100%; background-color:#f1f1f3'>
        <div style='height:100%' class="d-flex justify-content-center p-3 ">
        <div class="d-flex flex-column " style="height:100%; width:100%;  background-color:white">
            <div class="d-flex justify-content-between p-2">
                <div style="font-weight:600" class="align-self-center">
                    List of Users
                </div>
            </div>
            <div style=" height:2px;background-color:#f1f1f3"></div>
                <div style="font-size:36px; font-weight:150;color:#5e5e5e;" class="text-center">Add New User</div>
                <div>
                    <form class="d-flex justify-content-center flex-column align-items-center" action='/courses/{{course.course_id}}/details/adduser' method="POST">
                        <div>
                            <div>
                                <div class="input-group mb-3 p-2">
                                <select class="form-select w-75 mb-3 p-2" name="course_id"  onclick="onlyOne(this)">
                                <option selected disabled>Add New User</option>
                                {% for user in users %}
                                <option value="{{user.user_name}}">{{user.user_name}} {{user.user_surname}} </option>
                                {% endfor %}
                                </select>
                            </div> 
                        </div>
                        
                        <div class="px-2 d-flex justify-content-center align-items-center">
                            <button style='height:38px' type="submit" class="new rounded ">Add</button>
                        </div>
                    </form>
                    <div class='d-flex justify-content-center align-items-center'>

                            <div class="px-2 pt-2 ">
                                <a href="/courses/{{course.course_id}}/details/"><button  onclick='off()' style='background-color:red' class="new rounded" >Close</button></a>
                            </div> 
                        
                       
                    </div>
                </div>
            </div>


            <div class="d-flex flex-column p-2">
                <div class='mt-2' style=" height:1px;background-color:lightgray"></div>
                <div class="container" >
                    <div class="row" style="font-weight:600">
                        <div class="col-sm">User Email</div>
                        <div class="col-sm">User Name</div>
                    </div>
                        {% for user in users %}
                            <div class="row mt-2">
                                <div class='mt-2' style=" height:1px;background-color:lightgray"></div>
                                <div class="col-sm">{{user.user_email}}</div>
                                <div class="col-sm">{{user.user_name}} {{user.user_surname}}</div>
                            </div>
                        {% endfor %}
                



                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>