{% extends 'design.html' %}

{% block head %}
<style>body{
    height:100vh
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
.sidebar div {
padding: 8px;

color:#828e96
}
.sidebar div a{
    padding: 8px;
    text-decoration: none;
    display: block;
    color:#828e96
    }
.hvr:hover{
    background-color: #263949;
    color:white;
    cursor: pointer;
}

.new{
    height:26px;
    width: 100px;
    background-color:#1f8772;
    color:white;
    border:none;
}</style>
    <title>Edit Exam</title>
{% endblock %}

    {% block body %}
    <div class='ps-3 pt-3'style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;">Edit Exam</div>
        <div style='font-size:20px;font-weight:600 ;padding-bottom:10px'>Exam: {{exam.exam_course}}</div>
    </div>
    <div style="margin-left:10%; height:1px;background-color:lightgray"></div>
    <div class="mt-4">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;" class="text-center">Edit</div>
        <form class="d-flex justify-content-center flex-column align-items-center" action='/exams/{{exam.exam_id}}/update' method="POST">
            <div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <select class="form-select w-75 mb-3 p-2" name="exam_course" onclick="onlyOne(this)">
                    <option selected enabled value="{{exam.exam_course}}">{{exam.exam_course}}</option>
                    {% for course in courses %}
                        <option value="{{course.course_name}}">{{course.course_name}}</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Exam Name</span>
                        <input name='exam_name'type="text" class="form-control" value='{{exam.exam_course}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Exam Semester</span>
                        <input name='exam_semester' type="text" class="form-control" value='{{exam.exam_semester}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Exam Date</span>
                        <input name='exam_time' type="date" class="form-control" value='{{exam.exam_time}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>  
            <div class="px-2 d-flex justify-content-center align-items-center">
                <button style='height:38px' type="submit" class="new rounded ">Save</button>
            </div>       
        </form>
        <div class='d-flex justify-content-center align-items-center'>

            <div class="px-2 pt-2 ">
                <a href="/exams"><button  onclick='off()' style='background-color:red' class="new rounded" >Close</button></a>
            </div> 
        
       
        </div>
    </div>
    {% endblock %}