{% extends 'design.html' %} {% block head %}
<style>
    body {
        height: 100vh
    }
    
    .sidebar {
        height: 100%;
        width: 10%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .sidebar div {
        padding: 8px;
        color: #828e96
    }
    
    .sidebar div a {
        padding: 8px;
        text-decoration: none;
        display: block;
        color: #828e96
    }
    
    .hvr:hover {
        background-color: #263949;
        color: white;
        cursor: pointer;
    }
    
    .new {
        height: 26px;
        width: 100px;
        background-color: #1f8772;
        color: white;
        border: none;
    }
</style>
<script>
    function off() {
        document.getElementById("newform").style.display = 'none';
    }
</script>
<title>Exam Details</title>
{% endblock %}

<body>
    {% block body %}
    <div class='ps-3 pt-3' style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;"> The Lesson Of -> {{exam.exam_name}}</div>
    </div>

            <h2 style="text-align: center;">GENERAL SCORES OF STUDENTS</h2>
            <div class="d-flex flex-column p-2 w-50" style="float:left;">
                <div class="container">
                    <div class="row" style="font-weight:600">
                        <div class="col-sm">No</div>
                        <div class="col-sm">Name</div>
                        <div class="col-sm">Surname</div>
                    </div>
                    {%  set count = namespace(value=1) %}
                    {% for user in all_users %}
                    <div class="row" style="font-weight:400">

                        <div class='mt-2' style=" height:1px;background-color:lightgray"></div>
                        <div class="col pt-2">{{count.value}}</div>
                        <div class="col pt-2">{{user.user_name}}</div>
                        <div class="col pt-2">{{user.user_surname}}</div>
                        </div>
                    {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
                </div>
                <div class="d-flex flex-column p-2 w-50" style="float:right;">
                    <div class="container">
                        <div class="row" style="font-weight:600">
                            <div style="text-align: center;" class="col-sm">Scores</div>
                        </div>
                        {% for scores in score %}
                        <div class="row" style="font-weight:400">
    
                            <div class='mt-2' style=" height:1px;background-color:lightgray"></div>
                            <div style="text-align: center;" class="col pt-2">{{scores}}</div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>

    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>