{% extends 'design.html' %}

{% block head %}
<style>body{
    height:100vh
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
.sidebar div {
padding: 8px;

color:#828e96
}
.sidebar div a{
    padding: 8px;
    text-decoration: none;
    display: block;
    color:#828e96
    }
.hvr:hover{
    background-color: #263949;
    color:white;
    cursor: pointer;
}

.new{
    height:26px;
    width: 100px;
    background-color:#1f8772;
    color:white;
    border:none;
}
</style>
<script>
    function newform() {
        document.getElementById("newform").style.display = 'block';
    }

    function off() {
        document.getElementById("newform").style.display = 'none';
    }

    function details() {
        let value
        document.getElementById("newform").style.display = 'block';
    }
</script>
<script>
    function check_answer(){
        if (document.getElementById("input_answer2").value != ''){

            document.getElementById("answer_2").style.display = 'block';       
        }else{
            document.getElementById("answer_2").style.display = "none";
        }
       }
</script>
<script>
    function open_Answer_2() {

    document.getElementById('answer_2').style.display = 'block'
    document.getElementById('add_button').style.display = 'none'
    document.getElementById('add_input').style.display = '250px'
        
    }
    function close_Answer_2() {

        document.getElementById('answer_2').style.display = 'none'
        document.getElementById('add_button').style.display = 'block'
        document.getElementById('input_answer2').value = ''
            
        }
    function render_text() {
    const example = document.getElementById('content').value;
    document.getElementById('mark_div').style.display = 'block'
    
    const words = example.split(" ");

document.getElementById('mark').innerHTML = words.reduce((acc, word) => {
  return `${acc}  
      <option "class="word">${word}</option>`;
}, '');
const elements = document.getElementsByClassName('word');

[...elements].forEach((element) => {
  element.addEventListener('click', () => {
    element.classList.toggle('selected');
  })
});
}
</script>

    <title>Question Edit</title>
{% endblock %}

{% block body %}
    <div class='ps-3 pt-3'style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;">Question Edit</div>
        <div style='font-size:20px;font-weight:600 ;padding-bottom:10px'>Question: {{question.question_id}} </div>
    </div>
    <div style="margin-left:10%; height:1px;background-color:lightgray"></div>
    <div class="mt-2" style="position: relative;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;" class="text-center">Edit</div>
        <form class="d-flex justify-content-center flex-column align-items-center" action='/question/{{question.question_id}}/update' method="POST">
            <div>
                <div>
                    <input type="hidden" value="{{question.question_id}}" name="o_number">
                </div>
                <div class="input-group mb-3 p-2">
                    <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Exam</span>
                    <select class="form-select w-25  p-2" name="exam"  onclick="onlyOne(this)">
                    <option selected enabled value="{{question.exam}}">{{question.exam}}</option>
                    {% for exm in exams %}
                        <option value="{{exm.exam_course}}">{{exm.exam_course}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div> 
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Question</span>
                        <input style="width:170px;" id="content" name='question' type="text" class="form-control" value='{{question.question}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <a  class="btn btn-danger btn-xs" href="#mark" onclick="render_text()">+</a>
                    </div>
                </div>
                
                <div style="display: block;" name="mark"  id="mark_div" >
                    <div class="input-group mb-3 p-2">
                    <span style='background-color:#1f8772;width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Answer</span>
                    <select id="mark" class="form-control" name="answer">
                        <option value='{{question.answer}}' selected>{{question.answer}}</option>
                    </select>
                </div>
            </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Other Answer</span>
                        <input name='alternative_answer1' type="text" class="form-control" value='{{question.alternative_answer1}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <a  id="add_button" class="btn btn-danger btn-xs" href="#answer_2" onclick="open_Answer_2()">+</a>
                    </div>
                </div>                
                <div id="answer_2" style="display: none;">
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Other Answer</span>
                        <input id="input_answer2" name='alternative_answer2' type="text" class="form-control" value='{{question.alternative_answer2}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <a  class="btn btn-danger btn-xs" href="#answer_2" onclick="close_Answer_2()">-</a>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 p-2">
                        <span style='background-color:#1f8772; width:120px;; color:white' class="input-group-text" id="inputGroup-sizing-default">Score</span>
                        <input name='question_score' type="text" class="form-control" value='{{question.question_score}}' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>  
            <div class="px-2 d-flex justify-content-center align-items-center">
                <button style='height:38px' type="submit" class="new rounded ">Save</button>
            </div>
            <a href="/questions"> <button type="button" style='background-color:red' class="new rounded">Close</button></a>
            </div>
        </form>
        
        </div>
    </div>
{% endblock %}