{% extends 'design.html' %} {% block head %}
<style>body{
    height:100vh
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
.sidebar div {
padding: 8px;

color:#828e96
}
.sidebar div a{
    padding: 8px;
    text-decoration: none;
    display: block;
    color:#828e96
    }
.hvr:hover{
    background-color: #263949;
    color:white;
    cursor: pointer;
}

.new{
    height:26px;
    width: 100px;
    background-color:#1f8772;
    color:white;
    border:none;
}</style>
<script>
    function off() {
        document.getElementById("newform").style.display = 'none';
    }
</script>
<title>Question</title>
{% endblock %}

<body>
    {% block body %}
    <div class='ps-3 pt-3' style=" margin-left:10%;">
        <div style="font-size:36px; font-weight:150;color:#5e5e5e;">Index</div>
        <div style='font-size:20px;font-weight:600 ;padding-bottom:10px'>Question</div>
    </div>
    <div style="margin-left:10%; height:1px;background-color:lightgray"></div>
    <div class='pt-2' style='margin-left:10%;height:100%; background-color:#f1f1f3'>
        <div style='height:100%' class="d-flex justify-content-center p-3 ">
            <div class="d-flex flex-column " style="height:100%; width:100%;  background-color:white">
                <div class="d-flex justify-content-between p-2">
                    <div style="font-weight:600" class="align-self-center">
                        Question
                    </div>
                </div>
                <div style=" height:2px;background-color:#f1f1f3"></div>
                <div class="d-flex flex-column p-2">
                    <div class='mt-3' style=" height:1px;background-color:lightgray"></div>
                    <div class="container">
                        <div class="row" style="font-weight:600">
                            
                            <div class="col-sm">Exam</div>
                            <div class="col-sm">Question</div>
                            <div class="col-sm">Answer</div>
                            <div class="col-sm">Other Answers</div>
                            <div class="col-sm">Score</div>
                            <div class="col-sm"></div>
                        </div>
                        <div class="row" style="font-weight:400">

                            <div class='mt-3' style=" height:1px;background-color:lightgray"></div>
                            
                            <div class="col pt-2">{{question.exam}}</div>
                            <div class="col pt-2">{{question.question}}</div>
                            <div class="col pt-2">{{question.answer}}</div>
                            <div class="col pt-2">{{question.alternative_answer1}} {{question.alternative_answer2}}</div>
                            <div class="col pt-2">{{question.question_score}}</div>
                            <div class="col pt-2 d-flex justify-content-end">
                                <form action="/question/{{question.question_id}}/update" method="GET">
                                    <button style=' border:none;color:white;' class=" bg-warning mx-2 rounded" type="submit">Edit</button>
                                </form>
                                <form action="/questions/{{question.question_id}}/delete" method="POST">
                                    <button style='border:none;color:white;' class="mx-2 rounded bg-danger" type="submit">Delete</button>
                                </form>
                                <a href="/questions"> <button onclick='off()' style='border:none;color:white;' class="bg-secondary mx-2 rounded">Close</button></a>



                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>